@mixin maxBlockWidth() {
    margin: 0 auto;
    max-width: 1600px;
}

@mixin pointerLink() {
    cursor: pointer;
}

@mixin letterSpacing() {
    letter-spacing: 0.02em;
}

@mixin spaceTitle() {
    margin-top: 94px;
    margin-bottom: 50px;
}

@mixin cardGap() {
    gap: 30px;
}
