:root {
    // font-size
    --xs: 14px;
    --s: 16px;
    --m: 18px;
    --l: 26px;
    --xl: 36px;
    --xxl: 44px;

    // font-weight
    --normal: 400;
    --medium: 500;
    --bold: 700;
    --black: 900;

    // colors
    --primary-text-color: #212121;
    --accent-color: #2196F3; 
    --secondary-color: #000000;
    --tertiary-color: #FFFFFF;
    --fourth-text-color: #757575;
    --bcg-whatwedo-card-text: #2F303A;
    --bcg-color: #F5F4FA;
    --hero-bcg-color: rgba(47, 48, 58, 0.4);
    --btn-box-shadow: rgba(0, 0, 0, 0.15);

    --border-radius: 2px;
}

