@import 'variables';
@import 'mixin';

// General styles
* {
    &, &:before,  &:after {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    margin: 0;
    font: {
        weight: var(--bold);
        size: var(--xl);
    }
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    @include spaceTitle();
}

body {
    font: {
        family: 'Roboto', sans-serif;
        style: normal;
        weight: var(--normal);
        size: var(--xs);
    }
    color: var(--primary-text-color);
    @include maxBlockWidth();
}

.container {
    padding: 0 215px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;     
}

.header-wrapper {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    .header-logo {

        .logo {
            font: {
                family: 'Raleway', sans-serif;
                weight: var(----bold);
                size: var(--l);
            }
            line-height: 1.19;
            letter-spacing: 0.03em;
            color: var(--secondary-color);

            &_text {
                color: var(--accent-color);
            }
        }
   }

    .header-nav-list {
        display: flex;
        gap: 50px;
        align-items: center;

        a {
            color: var(--primary-text-color);
            
            &:hover {
                padding-bottom: 28px;
                color: var(--accent-color);
                border-bottom: 4px solid var(--accent-color);
                border-radius: var(--border-radius);
            }
        }
    }

    .header-contacts {
        display: flex;
        align-items: center;
        gap: 30px;
        
        a {
            color: var(--fourth-text-color);

            &:hover {
                color: var(--accent-color);
            }
        }
        
    }

     .style {
        font: {
            weight: var(--medium);
        }
        line-height: 1.14;
        @include letterSpacing;
    }
}

.header-hero {
    padding: 200px 452px;
    width: 100%;
    height: 100%;
    position: relative;
      
      
      &::before {
    
        content: "";
        background: url('../images/hero/bcg-hero.png') no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      
      &::after {
        content: "";
        background-color: var(--hero-bcg-color);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      
     &_title {
        position: relative;
        z-index: 1;
        margin: 0;
        margin-bottom: 30px;
        font: {
            weight: var(--black);
        }
        size: var(--xxl);
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--tertiary-color);
     }

     .header-hero-btn {
        display: flex;
        justify-content: center;

     .btn {
        position: relative;
        display: inline-block;
        height: 50px;
        border-radius: 4px;
        text-align: center;
        font-size: var(--s);
        line-height: 1.8;
        padding: 10px 32px;
        min-width: 150px;
        background: var(--accent-color);
        box-shadow: 0px 4px 4px var(--btn-box-shadow);
        color: var(--tertiary-color);
        z-index: 1;
      }
    }
   
}

.features {
    padding-top: 94px;

    .features-card-wrapper {
        display: flex;
        gap: 30px;
        align-items: center;

    .features-card {
        width: 270px;

        &_img {
            max-width: 270px;
            height: 120px;
            border-radius: var(--border-radius-4);
        }

            .features-antenna {
                background: url('../images/features/antenna.png') no-repeat center,
                            var(--bcg-color);
            }
            
            .features-clock {
                background: url('../images/features/clock.png') no-repeat center,
                var(--bcg-color);
            }

            .features-diagram {
                background: url('../images/features/diagram.png') no-repeat center,
                var(--bcg-color);
            }

            .features-astronaut {
                background: url('../images/features/astronaut.png') no-repeat center,
                var(--bcg-color);
            }

        &_content {

        & > h3 {
            margin: 0;
            margin-top: 30px;
            font: {
                weight: var(--bold);
            }
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }

        & > p {
            margin: 0;
            margin-top: 10px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            color: var(--fourth-text-color);
        }
        }
    }
 }
}


   


