:root {
  --xs: 14px;
  --s: 16px;
  --m: 18px;
  --l: 26px;
  --xl: 36px;
  --xxl: 44px;
  --normal: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
  --primary-text-color: #212121;
  --accent-color: #2196F3;
  --secondary-color: #000000;
  --tertiary-color: #FFFFFF;
  --fourth-text-color: #757575;
  --bcg-whatwedo-card-text: #2F303A;
  --bcg-color: #F5F4FA;
  --hero-bcg-color: rgba(47, 48, 58, 0.4);
  --btn-box-shadow: rgba(0, 0, 0, 0.15);
  --border-radius: 2px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: var(--normal);
  font-size: var(--xs);
  margin: 0 auto;
  max-width: 1600px;
}

.container {
  padding: 0 215px;
}

.header-wrapper {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-wrapper .header-logo .logo {
  font-family: "Raleway", sans-serif;
  font-weight: var(----bold);
  font-size: var(--l);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.header-wrapper .header-logo .logo_text {
  color: var(--accent-color);
}
.header-wrapper .header-nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}
.header-wrapper .header-nav-list a {
  color: var(--primary-text-color);
}
.header-wrapper .header-nav-list a:hover {
  padding-bottom: 28px;
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: var(--border-radius);
}
.header-wrapper .header-contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-wrapper .header-contacts a {
  color: var(--fourth-text-color);
}
.header-wrapper .header-contacts a:hover {
  color: var(--accent-color);
}
.header-wrapper .style {
  font-weight: var(--medium);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-hero {
  padding: 200px 452px;
  width: 100%;
  height: 100%;
  position: relative;
}
.header-hero::before {
  content: "";
  background: url("../images/hero/bcg-hero.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-hero::after {
  content: "";
  background-color: var(--hero-bcg-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-hero_title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 30px;
  font-weight: var(--black);
  size: var(--xxl);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-color);
}
.header-hero .header-hero-btn {
  display: flex;
  justify-content: center;
}
.header-hero .header-hero-btn .btn {
  position: relative;
  display: inline-block;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--s);
  line-height: 1.8;
  padding: 10px 32px;
  min-width: 150px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--btn-box-shadow);
  color: var(--tertiary-color);
  z-index: 1;
}/*# sourceMappingURL=styles.css.map */