:root {
  --xs: 14px;
  --s: 16px;
  --m: 18px;
  --l: 26px;
  --xl: 36px;
  --xxl: 44px;
  --normal: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
  --primary-text-color: #212121;
  --accent-color: #2196F3;
  --secondary-color: #000000;
  --tertiary-color: #FFFFFF;
  --fourth-text-color: #757575;
  --bcg-whatwedo-card-text: #2F303A;
  --bcg-color: #F5F4FA;
  --hero-bcg-color: rgba(47, 48, 58, 0.4);
  --btn-box-shadow: rgba(0, 0, 0, 0.15);
  --card-bcg-color: rgba(47, 48, 58, 0.8);
  --customers-card-border: #AFB1B8;
  --footer-contacts-link: rgba(255, 255, 255, 0.6);
  --input-border: rgba(255, 255, 255, 0.3);
  --border-radius-2: 2px;
  --border-radius-4: 4px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  margin: 0;
  font-weight: var(--bold);
  font-size: var(--xl);
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: var(--normal);
  font-size: var(--xs);
  color: var(--primary-text-color);
  margin: 0 auto;
  max-width: 1600px;
}

.container {
  padding: 0 215px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: var(----bold);
  font-size: var(--l);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.logo_text {
  color: var(--accent-color);
}
.logo_footer {
  color: var(--tertiary-color);
}

.header-wrapper {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-wrapper .header-nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}
.header-wrapper .header-nav-list a {
  color: var(--primary-text-color);
}
.header-wrapper .header-nav-list a:hover {
  padding-bottom: 28px;
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: var(--border-radius);
}
.header-wrapper .header-contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-wrapper .header-contacts a {
  color: var(--fourth-text-color);
}
.header-wrapper .header-contacts a:hover {
  color: var(--accent-color);
}
.header-wrapper .style {
  font-weight: var(--medium);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-hero {
  padding: 200px 452px;
  width: 100%;
  height: 100%;
  position: relative;
}
.header-hero::before {
  content: "";
  background: url("../images/hero/bcg-hero.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-hero::after {
  content: "";
  background-color: var(--hero-bcg-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-hero_title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 30px;
  font-weight: var(--black);
  size: var(--xxl);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-color);
}
.header-hero .header-hero-btn {
  display: flex;
  justify-content: center;
}
.header-hero .header-hero-btn .btn {
  position: relative;
  display: inline-block;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  font-size: var(--s);
  line-height: 1.8;
  padding: 10px 32px;
  min-width: 150px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--btn-box-shadow);
  color: var(--tertiary-color);
  z-index: 1;
}

.features {
  padding: 94px 0;
}
.features .features-card-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.features .features-card-wrapper .features-card {
  width: 270px;
}
.features .features-card-wrapper .features-card_img {
  max-width: 270px;
  height: 120px;
  border-radius: var(--border-radius-4);
}
.features .features-card-wrapper .features-card .features-antenna {
  background: url("../images/features/antenna.png") no-repeat center, var(--bcg-color);
}
.features .features-card-wrapper .features-card .features-clock {
  background: url("../images/features/clock.png") no-repeat center, var(--bcg-color);
}
.features .features-card-wrapper .features-card .features-diagram {
  background: url("../images/features/diagram.png") no-repeat center, var(--bcg-color);
}
.features .features-card-wrapper .features-card .features-astronaut {
  background: url("../images/features/astronaut.png") no-repeat center, var(--bcg-color);
}
.features .features-card-wrapper .features-card_content > h3 {
  margin: 0;
  margin-top: 30px;
  font-weight: var(--bold);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features .features-card-wrapper .features-card_content > p {
  margin: 0;
  margin-top: 10px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

.whatwedo {
  padding-bottom: 94px;
}
.whatwedo .whatwedo-card-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.whatwedo .whatwedo-card-wrapper .whatwedo-card-inner {
  width: 370px;
  text-align: center;
}
.whatwedo .whatwedo-card-wrapper .whatwedo-card-inner .whatwedo-card {
  max-width: 370px;
  position: relative;
  margin-bottom: 15px;
}
.whatwedo .whatwedo-card-wrapper .whatwedo-card-inner .whatwedo-card_img {
  max-width: 370px;
  height: 294px;
  display: block;
  width: 100%;
}
.whatwedo .whatwedo-card-wrapper .whatwedo-card-inner .whatwedo-card_img .actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--card-bcg-color);
}
.whatwedo .whatwedo-card-wrapper .whatwedo-card-inner .whatwedo-card_img .actions_text {
  margin: 0;
  text-decoration: none;
  color: var(--tertiary-color);
  padding: 27px 0;
  text-transform: uppercase;
}
.whatwedo .whatwedo-card-wrapper .whatwedo-card-inner .whatwedo-card .desktop {
  background: url("../images/whatwedo/desktop.jpg") center center;
  background-size: cover;
}
.whatwedo .whatwedo-card-wrapper .whatwedo-card-inner .whatwedo-card .mobile {
  background: url("../images/whatwedo/mobile.jpg") center center;
  background-size: cover;
}
.whatwedo .whatwedo-card-wrapper .whatwedo-card-inner .whatwedo-card .tablet {
  background: url("../images/whatwedo/tablet.jpg") center center;
  background-size: cover;
}

.team {
  padding: 94px 0;
  background: var(--bcg-color);
}
.team .team-card-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.team .team-card-wrapper .team-card {
  width: 270px;
  background: var(--tertiary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .team-card-wrapper .team-card_img {
  max-width: 270px;
  height: 260px;
}
.team .team-card-wrapper .team-card .team-member-demianenko {
  background: url("../images/team/demianenko.jpg") center center;
  background-size: cover;
}
.team .team-card-wrapper .team-card .team-member-repina {
  background: url("../images/team/repina.jpg") center center;
  background-size: cover;
}
.team .team-card-wrapper .team-card .team-member-tarasov {
  background: url("../images/team/tarasov.jpg") center center;
  background-size: cover;
}
.team .team-card-wrapper .team-card .team-member-yermakov {
  background: url("../images/team/yermakov.jpg") center center;
  background-size: cover;
}
.team .team-card-wrapper .team-card_content > h3 {
  margin: 0;
  margin-top: 30px;
  font-weight: var(--medium);
  font-size: var(--s);
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
.team .team-card-wrapper .team-card_content > p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
  text-align: center;
  text-transform: capitalize;
}
.team .team-card-wrapper .team-icon-wrapper {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .team-card-wrapper .team-icon-wrapper .team-icon-inst {
  color: var(--fourth-text-color);
}

.customers {
  padding: 94px 0;
}
.customers .grid-customers-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}
.customers .grid-customers-wrapper .customers-card {
  max-width: 170px;
  height: 92px;
  border: 1px solid var(--customers-card-border);
  border-radius: 4px;
}
.customers .grid-customers-wrapper .customers-card:hover {
  cursor: pointer;
  border: 1px solid var(--accent-color);
}
.customers .grid-customers-wrapper .customers-card > img {
  margin-left: 15px;
  margin-top: 15px;
}

.footer {
  background-color: var(--bcg-whatwedo-card-text);
}
.footer_container {
  padding: 60px 215px;
}
.footer_content-wrapper {
  display: flex;
  gap: 75px;
}
.footer_content-address > ul {
  margin-top: 20px;
  padding: 0;
}
.footer_content-address > ul > li:nth-last-child(-n+2) {
  margin-top: 9px;
}
.footer_link {
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer .address-link {
  color: var(--tertiary-color);
}
.footer .contacts-link {
  color: var(--footer-contacts-link);
}
.footer p {
  margin: 0;
  color: var(--tertiary-color);
  font-weight: var(--bold);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer_form > input {
  margin-top: 20px;
  width: 358px;
  height: 50px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--bcg-whatwedo-card-text);
  color: var(--footer-contacts-link);
  padding-left: 16px;
  font-size: var(--s);
  line-height: 1.25;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=styles.css.map */